@import url('https://fonts.googleapis.com/css?family=Outfit&display=swap');

body{
    background-color: hsl(212, 45%, 89%);
    font-family: Outfit;
    height: 100%;
}

main{
    background-color: hsl(0, 0%, 100%);
    border-radius: 5%;
    padding-top: 18px;
    width: 290px;
    height: 440px;
    margin: auto;
    top: 0;
}

main img{
    border-radius: 5%;
    max-width: 89%;
    margin-left: auto;
    margin-right: auto;
}

.title_card h1{
    color: hsl(218, 44%, 22%);
    font-size: 21px;
    font-weight: 700;
}

main p{
    font-weight: 400;
    font-size: 15px;
    color: hsl(220, 15%, 55%);
}

.title_card, main p, footer{
    padding-left: 9%;
    padding-right: 8%;
}

footer, main{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
}
  
footer a { color: hsl(228, 45%, 44%); }