@import url('https://fonts.googleapis.com/css?family=Outfit&display=swap');

body{
    background-color: hsl(212, 45%, 89%);
    font-family: Outfit;
}

p{
    font-weight: 400;
    font-size: 15px;
    color: hsl(220, 15%, 55%);
    text-align: center;
}

h2{
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    font-size: 15px;
    text-align: center;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}
  
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

#QR_Card{
    background-color: hsl(0, 0%, 100%);
    border-radius: 5%;
    margin: 0 auto;
}

#QR_Card img{
    border-radius: 5%;
    width: 150px;
    height: 150px;
    center;
}